body {
    margin: 0;
    padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#navbar {
    float: left;
    padding: 10px 2%;
    width: 30%;
    position: fixed;

}

main {
    float: right;
    width: 70%;


}

@media (max-width: 600px) {
    main {
        width: 100%;}
}
